<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('./partials/head.ejs'); -%>

		<title>Reportes</title>
	</head>
	<body>
		<%- include('./partials/navigation.ejs'); -%>
		<!--Validacion de registro-->
		<% if (regist) { %>
		<div class="container d-flex justify-content-center my-4">
			<h3>Reportes</h3>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<table class="table table-dark">
						<thead>
							<tr class="text-center">
								<th scope="col">#</th>
								<th scope="col">Servicio</th>
								<th scope="col">Responsable</th>
								<th scope="col">Calificación</th>
							</tr>
						</thead>
						<tbody>
							<% for( let i = 0; i < rows.length; i++ ) { %>
							<tr class="text-center">
								<th scope="row"><%= i %></th>
								<td><%= rows[i].nom_serv%></td>
								<td><%= rows[i].nom_as%></td>
								<td><%= rows[i].calificacion%></td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
				<div class="col-md-6">
					<table class="table table-dark">
						<thead>
							<tr class="text-center">
								<th scope="col">#</th>
								<th scope="col">Avisos</th>
							</tr>
						</thead>
						<tbody>
							<% for( let i = 0; i < avisos.length; i++ ) { %>
							<tr class="text-center">
								<th scope="row"><%= i %></th>
								<td><%= avisos[i].descripcion%></td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<% } else { %>
		<h3>No estas registrado <a href="/">Registrate aqui</a></h3>
		<% } %>
	</body>
</html>
